body{
    background-image: url(header.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1920px 720px;
}
h1{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    font-style: italic;
}
